<p>{{title}}</p>

<input type="text" [(ngModel)]="num">

<!-- <img [src]="pic" alt=""> -->

<p>
    {{num}}
</p>

<button (click)="save()">Save</button>
<button (click)="showList()">{{isAcceptabel? "hide" : "show"}}</button>

<!-- სტრუქტურული დირექტივა -->

<div class="parent" *ngIf="isAcceptabel">
    <div class="box" *ngFor="let el of numArr let index = index">
        <h1> {{el}}</h1>
        <button (click)="delete(index)">delete</button>
    </div>
</div>


 
<button (click)="printHi()">Print</button>




<div class="card" style="width: 18rem;" *ngFor="let el of productArr">
    <img [src]="el.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>